# Ignore everything
**

# Allow files and directories
!/target/graalvm-native-image/codacy-duplication-jscpd
!/target/universal/stage/
!/docs
!/package*.json
# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/.DS_Store
